<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <h1>Hangman</h1>
    <p>
      Welcome to Hangman! Would you like to start a new game or restore a prior game?
    </p>

    <form action="/new">
      <input type="submit" value="New Game">
      <input type="submit" value="Load Game" formaction="/load">
    </form>
  </body>
</html>